@model TheHomeOfPartner.Models.Reply

@{
    ViewBag.Title = "评论详情";
}

<h2>评论详情</h2>

<div>
    <h4>评论信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserLabel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplyDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回评论列表", "Index")
</p>
